<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Files</display-name>
  <listener>
    <listener-class>mfi.files.listener.FilesContextListener</listener-class>
  </listener>
  <servlet>
    <description>MAIN</description>
    <display-name>FilesMainServlet</display-name>
    <servlet-name>FilesMainServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesMainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FilesDownloadServlet</description>
    <display-name>FilesDownloadServlet</display-name>
    <servlet-name>FilesDownloadServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FilesUploadServlet</description>
    <display-name>FilesUploadServlet</display-name>
    <servlet-name>FilesUploadServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FilesEventServlet</description>
    <display-name>FilesEventServlet</display-name>
    <servlet-name>FilesEventServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesEventServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FilesAjaxServlet</description>
    <display-name>FilesAjaxServlet</display-name>
    <servlet-name>FilesAjaxServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FilesAuthenticationServlet</description>
    <display-name>FilesAuthenticationServlet</display-name>
    <servlet-name>FilesAuthenticationServlet</servlet-name>
    <servlet-class>mfi.files.servlet.FilesAuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DebugServlet</description>
    <display-name>DebugServlet</display-name>
    <servlet-name>DebugServlet</servlet-name>
    <servlet-class>mfi.files.servlet.DebugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesMainServlet</servlet-name>
    <url-pattern>/FilesMainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesDownloadServlet</servlet-name>
    <url-pattern>/FilesDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesUploadServlet</servlet-name>
    <url-pattern>/FilesUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesEventServlet</servlet-name>
    <url-pattern>/FilesEventServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesAjaxServlet</servlet-name>
    <url-pattern>/FilesAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilesAuthenticationServlet</servlet-name>
    <url-pattern>/FilesAuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DebugServlet</servlet-name>
    <url-pattern>/DebugServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>FilesMainServlet</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>506</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>507</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>508</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>509</error-code>
    <location>/errorpage.htm</location>
  </error-page>
  <error-page>
    <error-code>510</error-code>
    <location>/errorpage.htm</location>
  </error-page>
</web-app>